# {{kebabCase name}}-plugin

This is a plugin description.

## Install

With NPM:

```
npm i @pcllab/plugin-{{kebabCase name}}
```

```js
import {{camelCase name}} from "@pcllab/plugin-{{kebabCase name}}";
```

With CDN:

Other dependencies (react, react-dom, tailwind) need to loaded separately.

```html
  <script src="https://unpkg.com/@pcllab/plugin-{{kebabCase name}}"></script>
```

## Use

```js
const trial = {
  type: {{camelCase name}},
};
timeline.push();
```

## Parameters

| Parameter    | Type        | Description                            | Examples                                                  |
| ------------ | ----------- | -------------------------------------- | --------------------------------------------------------- |
| allow_delete | boolean     | Allow recalled words to be deleted     | (default)<br>`false`<br><br>`true`                        |
| button_label | string      | Label to show on continue button       | (default)<br>`"Continue"`<br><br>`"Next"`<br>`"继续"`     |
| stimulus     | html string | Arbitrary HTML to show above the input | (default)<br>""<br><br>`<h1>Type what you remember.</h1>` |

## Data Generated

In addition to the default data collected by all plugins, this plugin collects the following data.

| Name              | Type   | Value                                            |
| ----------------- | ------ | ------------------------------------------------ |
| response          | string | A word added to the recall list                  |
